@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

:root {
  --color-fd-primary: hsl(154 68% 38%);
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
}

.dark {
  --color-fd-primary: hsl(153 72% 54%);
}
